<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span> {{title}} </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card-form">
    <mat-card class="mat-card-form">
      <mat-card-header>
          <mat-card-title>Formulaire de saisie des commentaires</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field floatLabel="auto" appearance="outline">
          <mat-label>Votre commentaire</mat-label>
          <textarea matInput required [formControl]="comment"
            [errorStateMatcher]="matcher">
          </textarea>
          <mat-error *ngIf="comment.hasError('required')">
            Le commentaire est <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
          <button (click)="sendComment()" [disabled]="comment.hasError('required')"
            mat-raised-button color="primary">
            <mat-icon class="mat-10">send</mat-icon> Send
          </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="divider"></div>
  <div class="card-comment">
    <mat-card class="mat-card-comments">
        <mat-card-header>
            <mat-card-title>Liste des commentaires</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="(comments && comments.length > 0); else notComments">
            <mat-card *ngFor="let item of comments" class="comment">
              <p> {{ item.row.created_at | date:"dd/MM/yy" }} </p>
              <p> {{ item.row.content }} </p>
            </mat-card>
        </mat-card-content>
        <ng-template #notComments>
          <p class="notComments">Pas de commentaires !!!</p>
        </ng-template>
    </mat-card>
  </div>
</div>
