button, .example-button-row {
  margin-right: 2em;
}
.card-form {
  margin-top: 2em;
}
.mat-card-form {
  width: 50%;
  margin: auto;
}
mat-form-field {
  width: 100%;
}
.card-comment {
  width: 80%;
  margin: auto;
}
.comment {
  margin-bottom: 5px;
}
.notComments {
  color: blue;
  text-align: center;
}
.divider {
  margin-top: 15px;
}
