<% include header %>

    <div class="ui comments">
        <% if (locals.message) { %>
            <div class="comment">
                <a class="avatar" href="/messages/<%= message.id %>">
                    <img src="../assets/images/avatar.jpg">
                </a>
                <div class="content">
                    <div class="metadata">
                        <div class="date"><%= message.created_at.fromNow() %> </div>
                    </div>
                    <div class="test"> <%= message.content %> </div>
                </div>
            </div>
        <% } %>
    </div>

<% include footer %>
    