<% include header %>
    <form action="/messages" method="post" class="ui form">
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <button type="submit" class="ui button labeled blue submit icon">
            <i class="icon edit"></i> Envoyer
        </button>
    </form>
    <div class="ui comments">
        <h3 class="ui dividing header">Les commentaires</h3>
        <% if (locals.messages) { %>
            <% for (message of messages) { %>
                <div class="comment">
                    <a class="avatar" href="/messages/<%= message.id %>">
                        <img src="assets/images/avatar.jpg">
                    </a>
                    <div class="content">
                        <div class="metadata">
                            <div class="date"><%= message.created_at.fromNow() %> </div>
                        </div>
                        <div class="test"> <%= message.content %> </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
<% include footer %>
    